
.asteriskField {
    display: none;
}

form .alert ul li {
    list-style: none;
    color: red;
}

form .alert ul {
    padding: 0;
    margin: 0;
    color: red;
}


#id_username, #id_password {
    text-align: center;
    
}

.card-body {
    text-align: center;
}

.help-block strong {
    color: red;
}

